<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Employee Management System</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/adminlte.min.css">
  <style>
    .help-error{
      color:red;
      margin-left:13px;
    }
  </style>
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="" class="h5"><b>Employee Management System</b></a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form id="login-form" method="post">
        <div class="input-group">
          <input type="email" class="form-control" placeholder="Email" name="email" id="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="help-error mb-3" id="emailHelpErr"></div>

        <div class="input-group">
          <input type="password" class="form-control" placeholder="Password" name="password" id="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="help-error mb-3" id="passwordHelpErr"></div>

        <div class="row">
          <!-- /.col -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!-- /.social-auth-links -->
      <div class="mt-3">
          <p class="text-center">
            <a href="">I forgot my password</a>
          </p>
          <p class="text-center">
            <a href="">Register a new membership</a>
          </p>
      </div>
      
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../dist/js/adminlte.min.js"></script>

<script>
    $("#login-form").submit((e)=>{
      if(validateLoginForm()){
        loginFormSubmit();
      }
      else{
        e.preventDefault();
      }
    })

    $("#email").on("input",(e)=>{
      $("#emailHelpErr").html("")
    })

    $("#password").on("input",(e)=>{
      $("#passwordHelpErr").html("")
    })
    
    function loginFormSubmit(){
        $.ajax({
            url : '/ems/login',
            type : 'POST',
            cache:false,
            async:false,
            data : {
                email:"sivaprakash1995@mailinator.com",
                password:"1234"
            },
            dataType:'json',
            success : function(data) {    
                // alert("Login Success")          
            },
            error : function(request,error)
            {
                // alert("Request: "+JSON.stringify(request));
            }
        });
    }

    function validateLoginForm(){
      let email = $("#email").val();
      let password = $("#password").val();
      let isValid = true

      if(!email){
        isValid =false
        // $("#emailHelpErr").show()
        $("#emailHelpErr").html("Enter Your Email")
      }
      else{
        $("#emailHelpErr").html("")
      }

      if(!password){
        isValid =false
        $("#passwordHelpErr").html("Enter Your Password")
      }
      else{
        $("#passwordHelpErr").html("")
      }

      return isValid;
    }


</script>
</body>
</html>
