<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Employee Management System</title>

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../dist/css/adminlte.min.css">


<style>
   /* .nav-treeview{
    font-size: 12px;
  }
  .head-menu{
    font-size: 15px;
  }
  .margin-10{
    margin-left: 20px;
  }
  .margin-20{
    margin-left: 30px;
  }
  .margin-30{
    margin-left: 40px;
  } */
  .help-error{
    color:rgb(255, 0, 60);
    margin-left:13px;
  }
  .help-warning{
    color:rgb(200, 168, 6);
    margin-left:13px;
  }
  .help-success{
    color:rgb(4, 172, 51);
    margin-left:13px;
  }
</style>
