
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./header.ejs') %>
        <block head>
            
        </block>
    </head>
    <body class="hold-transition">
        <%- include('./menu.ejs') %>
        <block content>
    
        </block>
        <%- include('./footer.ejs') %>
        <block script>
    
        </block>
    </body>
</html>

